@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700&display=swap");

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Montserrat", cursive;
}

:root {
	--background: linear-gradient(45deg, rgb(73, 66, 73), rgb(163, 163, 163));
	--tabs: rgb(114, 111, 107);
	--tabs-hover: rgba(188, 188, 188, 0.4);
	--container: rgb(183, 182, 182);
	--button: linear-gradient(45deg, #9ca5a8, #3f4153);
	--button-hover-one: rgb(91, 105, 110);
	--button-hover-two: rgba(45, 35, 66, 0.4);
	--button-hover-three: rgba(74, 63, 98, 0.3);
	--button-active: rgb(134, 136, 155);
	--news: rgb(162, 164, 170);
	--news_hover: rgb(177, 179, 187);
	--border-news: rgb(14, 36, 98);
	--news-link: rgb(10, 18, 2);
}

body {
	background: var(--background);
	position: relative;
	overflow: hidden;
}

.main_container {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: space-around;
}

.content_container {
	margin-top: 200px;
}

.tabs-container {
	margin-bottom: 5px;
	width: 500px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.tabs {
	width: 115px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--tabs);
	border: 1px solid black;
	font-size: 15px;
	font-weight: bold;
	border-radius: 4px;
}

.active-tabs {
	background: var(--container);
}


.tabs:hover {
	background: var(--tabs-hover);
	cursor: pointer;
}


.content {
	display: none;
}

.active-content {
	display: block;
}

.container {
	width: 500px;
	height: 230px;
	border: 2px solid black;
	border-radius: 15px;
	padding: 0 15px;
	background-color: var(--container);
}

.headline {
	display: flex;
	justify-content: center;
}

h3 {
	font-size: 20px;
	margin: 15px 0;
}

select {
	outline: none;
}

.btn_one {
	margin: 10px 15px;
}

.btn_two,
.btn_three {
	margin: 15px 15px;
}

.tabel_position {
	margin: 6px 0;
}

.btn_four {
	margin: 15px 15px;
}

.text_four {
	margin-top: 10px;
}

#check-button {
	background: var(--button);
	border: 0;
	border-radius: 6px;
	color: white;
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
	height: 32px;
	padding: 0 16px;
	font-size: 16px;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

#check-button:hover {
	box-shadow: inset 0 -3px 0 var(--button-hover-one),
		0 4px 8px var(--button-hover-two), 0 7px 13px -3px var(--button-hover-three);
	animation: move-up 0.2s ease-in-out forwards;
}

#check-button:active {
	box-shadow: inset 0 3px 7px var(--button-active);
	animation: move-down 0.1s ease-in-out forwards;
}

.news_feed {
	height: 750px;
	margin: auto 0;
	width: 400px;
	border: 2px solid var(--border-news);
	border-radius: 18px;
	padding: 0 10px;
	background-color: var(--news);
	display: flex;
	flex-direction: column;
}

h2 {
	font-size: 20px;
	margin: 12px 0 8px;
	align-self: center;
}

.article {
	width: 100%;
	height: 120px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	border-top: 1px solid rgb(208, 0, 0);
	margin: 5px 0 15px 0;
	text-decoration: none;
}
.article:hover {
	background: var(--news_hover);
}

.article_thumbnail {
	width: 120px;
	height: 110px;
}

.article_link {
	width: 200px;
	font-size: 16px;
	color: var(--news-link);
}


.copyrights {
	position: absolute;
	right: 30px;
	bottom: 20px;
}


@keyframes move-up {
	100% {
		transform: translateY(-1px);
	}
}

@keyframes move-down {
	100% {
		transform: translateY(2px);
	}
}
